# Dependencies
node_modules/

# WordPress Core
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/.htaccess
wp-config.php
wp-config-sample.php
local-xdebuginfo.php

# WordPress Content
/wp-content/plugins/
/wp-content/uploads/
/wp-content/languages/
/wp-content/upgrade/
/wp-content/index.php

# Ignore all themes except custom theme(s)
/wp-content/themes/*
!/wp-content/themes/maristela-medeiros-2022/
!/wp-content/themes/maristela-medeiros/

# Log & temp files
*.log
.DS_Store
Thumbs.db