$primary: #BB472A;
$secondary: #7d2f1c;
$marrom: #594045;
$palha: #F2ECEB;
$chumbo: #333140;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "marrom": $marrom,
  "palha": $palha,
  "chumbo": $chumbo,
);

$headings-font-family: 'Montserrat Alternates', sans-serif;
$headings-color: $primary;
$headings-font-weight: 700;

$line-height-base: 1.7;

$h2-font-size: 2.5rem;

html{
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}