.servicos {
  background-color: $palha;
  padding: 3rem 0;
  text-align: center;

  h2 {
    margin: 2rem 0 calc(2rem + 70px) 0;
    width: 100%;
  }

  .servicos-lista {
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: space-around;
    }

    .servicos-box {
      background-color: $white;
      border-radius: 25px;
      margin: 1rem 0 calc(1rem + 70px) 0;
      padding-bottom: 1rem;

      img {
        margin: -70px 0 1rem 0;
      }

      h3 {
        color: $marrom;
      }
    }
  }
}
